.main {
    background-color: rgb(32, 32, 32);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    color: rgb(201, 190, 190);
}

.wrapper {
    max-width: 800px;
    justify-content: center;
    text-align: center;
}

.header {
    margin-bottom: 40px;
    color: green;
}

.text {
    margin-bottom: 20px;
}

.form {
    margin-bottom: 60px;
}

.label {
    margin: 0 10px 15px 0;
}

.input {
    width: 100px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.input-page {
    margin-right: 60px;
}

.btn {
    width: 300px;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    padding: 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background: green;
    transition: 0.3s;
    display: block;

}

.btn:hover {
    transform: scale(1.05);
    border-radius: 10px;
}

.image {
    width: 100%;
}

.clear-storage {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

